header {
    background-color: #F9C521;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding-inline: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}